ultralytics
gtts
matplotlib
pyngrok
joblib
flask
opencv-python
pillow
moviepy
numpy
imageio-ffmpeg
torch
torchvision
torchaudio
transformers
accelerate
bitsandbytes
sentencepiece
protobuf
arabic_reshaper
python-bidi
werkzeug